@charset "UTF-8";


html {
    font-size: 62,5%;
}

body {
    background-color: black;
    color: white;   
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

.container-principal {
    display: flex;
    height: 100vh;
}

.container {
    width: 50%;
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal {
    padding: 8rem;
}

.principal-logo {
    font-size: 6rem;
}

.principal-titulo {
    font-size: 3rem;
}

.principal-descricao {
    margin: 3rem 0;
}

.botoes {
    gap: 4rem;   
    display: flex;
    justify-content: space-between;
}

.botao {
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    height: 6rem;
    cursor: pointer;  
}

.card {
    background: white;
    max-width: 60rem;
    overflow: hidden;
}

.card-cabecalho {
    background-color: #7026d9;
    height: 25rem;    
}

.card-titulo {
    font-size: 2.5rem;
    font-weight: 700;
}

.card-conteudo {
    color: black;
    padding: 3rem 1.5rem;
    min-height: 14rem;
}

.embassar {
    filter: blur(5px);
}

/*Refatoração*/
.card, .botao {
    border-radius: 0.5rem;
}


/* 
font
posicionamento
espaçamento
botões
card
*/