@charset "UTF-8";


html {
    font-size: 61.5%;
}

body {
    background-image: url("imagens/foto-de-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;   
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

.container-principal {
    display: flex;
    height: 100vh;
}

.container {
    width: 50%; 
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal {
    padding: 8rem;
}

.principal-logo {
    font-size: 6rem;
}

.principal-titulo {
    font-size: 3rem;
}

.principal-descricao {
    margin: 3rem 0;
}

.botoes {
    color: black;
    gap: 4rem;   
    display: flex;
    justify-content: space-between;
}

.botao {
    background-color: rgba(255, 255, 255, 0.397);
    border: rgba(0, 0, 0, 0);
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    height: 6rem;
    cursor: pointer;  
}

.card {
    background: rgba(255, 255, 255, 0.397);
    max-width: 60rem;
    overflow: hidden;
}

.card-cabecalho {
    background-color:#034a5763;
    height: 25rem;    
}

.card-titulo {
    font-size: 2.5rem;
    font-weight: 700;
}

.card-conteudo {
    color: black;
    padding: 3rem 1.5rem;
    min-height: 14rem;
}

.blur {
    filter: blur(5px);
}

/*Refatoração*/
.card, .botao {
    border-radius: 0.5rem;
}

/* 
font
posicionamento
espaçamento
botões
card
*/